@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --darkBlue-color: #043A57;
    --whaterGreen-color: #84ADAF;
    --white-color: #fff;
}

*{
    padding: 0;
    margin: 0;
    font-family: "Inter", serif;
}