@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --darkBlue-color: #043A57;
    --whaterGreen-color: #84ADAF;
    --white-color: #fff;
}

*{
    padding: 0;
    margin: 0;
    font-family: "Inter", serif;
}

.screen{
    display: flex;
    align-items: center;
    justify-content: center;
}

.containerLogin{
    display: flex;
    width: 80%;
    height: 700px;
    background-color: var(--white-color);
    margin: 3% 0 3% 0  ;
    box-shadow: 0px 6px 20px #0000001a;
}

.infosLogin{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30%;
    background-color: var(--whaterGreen-color);
}

.infosLogin a{
    padding: 11px;
    border-radius: 5px;
    text-decoration: none;
    color: var(--white-color);
    border: solid 3px var(--white-color);
    margin-top: 10%;
    transition-duration: 0.3s;
}

.infosLogin a:hover{
    background-color: var(--white-color);
    color: #84ADAF;
}

.infosLogin h1{
    color: var(--white-color);
}

.infosLogin h6{
    margin-top: 3%;
    font-size: 16px;
    color: var(--white-color);
}

.containerLogin .infosLogin img{
    width: 50%;
    height: 15%;
}

.inputLogin form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.inputLogin{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 70%;
}

.inputLogin h1{
    color: var(--whaterGreen-color);
    font-size: 40px;
    margin-bottom: 1%;
}

.inputLogin p{
    color: #85898a;
    margin-bottom: 3%;
}

.inputLogin input{
    width: 35%;
    font-size: 20px;
    border: none;
    border: solid 3px var(--whaterGreen-color);
    border-radius: 2px;
    padding: 10px;
    margin-bottom: 1%;
}

.inputLogin button{
    background-color: var(--whaterGreen-color);
    border: solid 3px var(--whaterGreen-color);
    border-radius: 8px;
    font-size: 26px;
    font-weight: 550;
    color: var(--white-color);
    padding: 12px;
    width: 13%;
    transition-duration: 0.3s;
    cursor: pointer;
    margin-top: 4%;
}

.inputLogin button:hover{
    background-color: var(--white-color);
    border: solid 3px var(--whaterGreen-color);
    color: var(--whaterGreen-color);
    width: 15%;
}